.block-6 {
    background-image: url(../imgs/bg6.png);
    background-size: cover;
    padding: 75px;
}

div {
    background-repeat: no-repeat;
}

.block-6-imgdiv {
    display: block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 80px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

    .block-6-imgdiv img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
    }

.block-6-wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

    .block-6-wrapper h3 {
        text-align: center;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size :30px ;
        padding-bottom:10px ;
        padding-top :25px ;
    }

    .block-6-wrapper p {
        font-size :16px ;
        text-align: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    .block-6-wrapper .block-6-time {
        padding-top: 20px;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: #c7b299;
    }