.block-1 {
    background-size: cover;
    background-image: url(../imgs/1bg1.png);
    padding: 15px;
    min-height: 100vh;
}

.block-1-div-1-img-1 {
    max-width: 100%;
    height: 75%;
    display: block;
}

.block-1-div-1-text-1 {
    text-align: center;
    font-size: 34px;
    color: #f3f3f3;
    margin-left: 3%;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
.block-1-slider-div-h1 {
    font-family: 'Raleway', sans-serif;
}
.block-1-slider-div-h2 {
    font-family: 'Raleway', sans-serif;
    font-weight : bold ;
}
.block-1-nav-a-ch a {
    color: #f3f3f3;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.block-1-nav-imgs a img {
    margin: 5px;
    max-width: 100%;
}

.block-1-nav-a-ch a:focus {
    color: #998675;
    font-size: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.block-1-nav-a-ch a:hover {
    color: #998675;
}

.block-1-slider-item {
    min-height: 75vh;
}

.block-1-slider-caption {
    top: 30%;
}

.block-1-slider-translated {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.block-1-slider-arrows {
}

.block-1-slider-item-div {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.block-1-slider-item-1-p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.block-1-slider-item-1-but {
    display: block;
    text-align: center;
    padding: 10px;
    max-width: 150px;
    background-color: #998675;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    -webkit-box-shadow: inset 0px -25px 4px -21px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px -25px 4px -21px rgba(0,0,0,0.35);
    box-shadow: inset 0px -25px 4px -21px rgba(0,0,0,0.35);
}

    .block-1-slider-item-1-but:hover {
        text-decoration: none;
        color: white;
    }

.block-1-carousel-indicators li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
}


.block-1-carousel-indicators .active {
    background-color: transparent;
    height: 15px;
    width: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #d3c1ad;
    margin-top :-2px;
}

    

    
