.block-10 {
    background-image: url(../imgs/bg9.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.img-10 {
    width: 100%;
    max-width: 175px;
}

.block-11 {
    padding: 50px;
    background-color: #191919;
}

.col1-wrapper {
}

.col-1-1 {
    display: flex;
    justify-content: flex-start;
    align-items : center;
}

    .col-1-1 img {
        width: 100%;
        max-width: 75px;
    }

    .col-1-1 h2 {
        color: white;
        font-size: 36px;
        font-family: 'Raleway', sans-serif;
    }
.col1-p-10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #817f7f;
    padding-top :15px ;
}

.col1-p2-10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: white;
   
   
}
.colll-10{
    display : flex ;
    justify-content :flex-start;
    padding-top :20px ;
    
}
.col1-treeangle {

    margin-top :7px ;
    margin-left :10px ;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent white;

}
.col2-h2-10 {
    color: white;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight :600;
    padding-top :10px ;
}
.bl-10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #303030;
    margin-bottom: 0px;
}
.wh-10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: white;
    margin-bottom :0px ;
}
.gr-10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #817f7f;
}
.hr-10 {
    height: 1px;
    background-color: #303030;
}
.grr-10 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #c7b299;
    
}
.sp-10 {
    color: #00bff3;
}
.sp-oi {
    color: #959595;
}
.img-112{
    width :100% ;
    max-width :150px ;
    padding-top :10px ;
}
.nopd{
    padding :0px ;
    padding-left :5px ;
    padding-right :5px ;
}
.lastblock {
    background-color: #111111;
    padding :20px ;
    padding-top :25px ;
}
.last-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #817f7f;
}
.last-a {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #817f7f;
}
.last-a:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #817f7f;
    text-decoration : none;
}