.block-9{
    padding :50px ;
    background-color :black;
}
.h2-9 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #555555;
    font-weight :bold;
    text-align :center;
}
.div-9-wrappertxt{
    max-width :700px ;
    margin-left : auto;
    margin-right : auto;
}
.p2-9 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #a7a6a6;
    font-weight: lighter;
    text-align: center;
}
.next9 .e1 {
    display :none;
}
.next9 img {
  width :100% ;
  
}
.next9:hover .e1 {
    display: block;
    cursor :pointer;
}
.next9:hover .e2 {
    display: none;
}
.prev9 {
    margin :5px ;
    height :22px ;
    display:flex;
    width :22px ;
}
    .prev9 .e1 {
        display: none;
    }

    .prev9 img {
        width: 100%;
    }

    .prev9:hover .e1 {
        display: block;
        cursor: pointer;
    }

    .prev9:hover .e2 {
        display: none;
    }

.next9 {
    margin :5px ;
    height: 22px;
    display: flex;
    width: 22px;
}
.b-9-arrows{
    display : flex;
    justify-content :center;

}