.block-3 {
    padding-top: 50px;
    background-color: #fbfaf8;
}
.block-3-h {
    font-family: 'Raleway', sans-serif;
    font-weight :600 ;
    text-align : center;
}
.block-3-p {
    font-family: 'Montserrat', sans-serif;
    text-align : center;
    font-weight :lighter;
}
.block-3-div{
    max-width :900px ;
    margin-left :auto;
    margin-right :auto;
}
.block-3-img{
    width :100% ;
}
.block-4{
    background-image :url(../imgs/Background2.png);
    background-size : cover;
    padding-top :25px ;
    
}
.block-4-flex {
    display: flex;
    justify-content: space-between;
    
}
.block-4-flex-h {
    font-family: 'Raleway', sans-serif;
    font-size :30px ;
    color  : white;
}
.block-4-span {
    color: #c7b299;
}
.block-4-p {
    font-family: 'Montserrat', sans-serif;
    color: #5b524f;
    font-weight: lighter;
    font-size: 18px;
}
.block-4-a {
    margin : 0;
    padding :12px;
    margin-top:5px;
}