.first-block {
    background-image: url(../imgs/eagle.png);
    
}
.fir-block-navbar{

}
.logofont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white ;
    font-size :30px;
}
a:hover{
    color :unset;
    text-decoration :none;
}
.logofont:hover {
    font-family: 'Montserrat', sans-serif;
    text-decoration:none ;
    color :white ;
}
.navbar-light .navbar-nav .mynavlink {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size :14px;
    padding :5px 20px;
}
    .navbar-light .navbar-nav .mynavlink:focus {
        color: #fce38a;
    }
    .navbar-light .navbar-nav .mynavlink:hover {
        color: #fce38a;
    }
.shop{
    background-image :url('/imgs/SHOPPING CART.png');
}
.glass{
    background-image :url('../imgs/MAGNIFYING GLASS.png');
}

.imgdisplayer {
    
}
.cool-link::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fce38a;
    transition: width 0.3s;
}
.cool-link:hover::after{
    width :100%;
    transition :width 0.3s;
}
.cool-link:focus::after{
    width: 100%;
    
}

    .imgdisplayer img {
        height: 20px;
        width: 20px;
    }
.imgdisplayer:hover .overlay1{
    display :none;
}
.imgdisplayer:hover .overlay2 {
    display: block;
}
.imgdisplayer:focus .overlay1 {
    display: none;
}

.imgdisplayer:focus .overlay2 {
    display: block;
}
.overlay1  {
    display: block;
    
   
}
.overlay2 {
    display:none;
}
.caritem1{
    
}
.caritem1-first {
    font-family: 'Kaushan Script', cursive;
    color :white;
    font-size :72px;
    text-align :center;
    margin-top :75px;
}
.caritem1-second {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 125px;
    font-weight :bold;
    text-align :center;
    line-height :115px;

}
.herna {
    height :2px;
    width :100px;
    background-color :white;
    margin-top :25px;
}
.learn-more {
    color: white !important;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    max-width: 150px;
    border: 5px solid #ffffff;
    margin-top :50px;
    text-align :center;
    font-size :14px;
    padding :5px 0px;
}
.learn-more:hover {
    text-decoration :none;
}
.carousel-indicators-min{
    position :initial;
    padding-bottom:100px;
    padding-top :100px;
}
.carousel-indicators-min li {
    position: initial;
    width :200px ;
    height :5px;
    text-indent :unset;
    opacity :1;
}
.caritembar{
   width :200px ;
   height :5px ;
   
   
}
.carousel-indicatorsfine::after{
    content:'';
   display :block;
    
    background-color :blue;
    width :0% ;
    height :100%;
    
}

.carousel-indicatorsmine .active .caritembar::after {
    opacity: 1;
    content: '';
    display: block;
    background-color: #f38181;
    width: 100%;
    height: 100%;
    transition: width 5s;
}
.txtad {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size :14px;
    padding-top :20px ;

}
.txtad span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight :bold;
}
.whatwedo {
    font-family: 'Kaushan Script', cursive;
    font-size :24px;
    color:black;
    text-align :center;
    padding-top :50px;
}
.storyaboutus {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.herna2 {
    height: 2px;
    width: 100px;
    background-color: #f38181;
    margin-top: 25px;
   margin-left :auto;
   margin-right :auto;
   margin-bottom :50px;
}
.loremipsum {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #999999;
}
.thirdblock {
    background-color: #95e1d3;
}
.jordan {
    background-color: #95e1d3;
    
   width :19.75%;
}
.cmd {
    background-color: #b5eae0;
   
}
.f1 {
    font-family: 'Montserrat', sans-serif;
    font-weight :bold;
    font-size :72px ;
    color :white;
    text-align :center;
    margin-top :50px;
}
.f2 {
    font-size :14px;
    font-family: 'Montserrat', sans-serif;
   width :80%;
   display :block;
   text-align :center;
   margin-right :auto;
   margin-left :auto;
    color :white;
    margin-bottom :50px;
}
.flx {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}
.imgalarm{
    max-height :30px;
    max-width :30px;
    margin-right :30px;
}
.moz {
    font-family: 'Roboto', sans-serif;
    color: #999999;
}
.moz1 {
    font-family: 'Montserrat', sans-serif;
    color :black;
    font-size :14px;
    font-weight :bold;
    
}
.posol {
    width: 100%;
    height: 2px;
    background-color: #cbcbcb;
    margin-bottom :20px;
}
.mrgbot{
    padding-bottom :50px;
}
.bg2{
    background-image :url('../imgs/Layer 45.png');
}
.img1{
    display :block;
}
.gibasia{
    display :block;
    position :absolute;
    bottom :-100px;
    right:15%;
}
.rela{
    position :relative;
}
.addpad{
    padding-top :50px;
}
.iiiimanimg{
    width :100% ;
  

}
.photography {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size :14px;
    margin-top :auto;
    margin-bottom :auto;
    font-weight :bold;
    margin-left :20px;
}
.photography:hover{
        text-decoration :none;
}
.btn-link:hover{
    text-decoration :none;
}
.btn-link:focus{
    text-decoration: none;
}
.cartheadermine{
    padding :0px;
}
.pictureing {
    width :30px;
    height :30px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.h{
    padding-top :5px;
}
.ovrrflowmine{
    overflow :hidden;
    overflow-y :scroll;
    max-height :150px;
  
}
.preoverflow{
    margin :20px;
}
.txtdiv{
    width :95%;
}
    .ovrrflowmine::-webkit-scrollbar {
        width: 5px;
        background-color: #cbcbcb;
        border-radius: 14px 14px 14px 14px;
        -moz-border-radius: 14px 14px 14px 14px;
        -webkit-border-radius: 14px 14px 14px 14px;
        border: 0px solid #000000;
       
        
    }
    .ovrrflowmine::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: #95e1d3;
        border-radius: 14px 14px 14px 14px;
        -moz-border-radius: 14px 14px 14px 14px;
        -webkit-border-radius: 14px 14px 14px 14px;
        border: 0px solid #000000;
    }
.giveheight{
    height :800px;
}
.pzclass{
    padding-bottom :100px;
}
.arrw {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
}
.arrw2 {
   
    transform: rotate(180deg);
}
.roboto {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size :20px;
}
.jondoe {
    font-family: 'Kaushan Script', cursive;
    font-size :24px;
    color :black;
    margin-bottom :auto;
    margin-top :auto;
}
.centrateher{
    margin-bottom :auto;
    margin-top :auto;
    margin-right :25px;
}
.imgspeech {
    display :block;
    padding-right :40px;
    max-height :200px;
    margin :auto;
}
.carousel-control-next-icon {
    background-image: url('../imgs/ARROW _ DOWN.png');
    transform: rotate(90deg);
    width :22px;
    height :12px;
}
.carousel-control-prev-icon {
    background-image: url('../imgs/ARROW _ DOWN.png');
    transform: rotate(-90deg);
    width: 22px;
    height: 12px;
}
.mattew {
    font-family: 'Montserrat', sans-serif;
    color:black;
    text-align :center;
    font-size :14px;
    font-weight :bold;
    margin-bottom :0px;
    margin-top :25px;
}
.design {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    text-align :center;
    font-weight :300;
    font-style :italic;
    font-size :14px;
}
.imghover {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: top 1s, left 1s;
}
.divclass:hover .imghover {
    top: -10px;
    left: -10px;
    transition: top 1s, left 1s;
}

.divclass:hover .vergrec{
    opacity :0.9;
}
.divclass:hover .opac {
    opacity: 1;
}
.opac{
    opacity :0;
}
.rectangle {
    width: 100%;
}
.relativepos{
    position :relative;
}
.vergrec{
    opacity :0;
    

}
.zenew{
    margin-bottom :auto;
    margin-top :auto;
}
.defimg44{
    width :100% ;
}
.centrateblockf {
    position: absolute;
    left: 0;
    right: 0;
    bottom :0px;
    top:0px;
   margin :auto;
    height :50px;
    width :50%;
    display :inline-flex;
    justify-content :center;
}
.centrateblockf img{
    width :30px;
    height :30px;
   
}
.prediv {
    padding: 10px;
    background-color: #fce38a;
    position :relative;
}
    .prediv:hover {
        padding: 10px;
        background-color: #f38181;
    }
.ln {
    border-left: 1px solid #f9bd87;
}
.r1{
    display :none;
}
.prediv:hover .r{
    display :none;
}
.prediv:hover .r1{
    display :block;
}
.mzblock14 {
    background-color: #f8f8f8;
    padding-top :40px;
    padding-bottom :40px;
    
}
.rowmrg2{
    margin-top :75px;
}







.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 25%;
}

@media (max-width: 575px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

/* To change the amount of columns on larger devices, uncomment the code below */

/* @media (min-width: 768px) and (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .grid-sizer,
  .grid-item {
    width: 20%;
  }
} */

.grid-item {
    
}

.grid-item img {
        display: block;
        max-width: 100%;
}
.zebigiiii {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(180deg, #e88382, #fce38a);
    opacity :0;
    transition : opacity 1s;
    
}
.grid-item:hover .zebigiiii {
   opacity :0.9;
   transition : opacity 1s;
}
.mozamba{
    position :absolute;
    top :0px;
    bottom :0px;
    right :0px;
    left :0px;
    margin :auto;
    width :50% ;
    height :25%;
}
.imge{
    display :block;
    margin-left :auto;
    margin-right :auto;
    width :25px;
    height :25px;
}
.creativilydesigned {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align :center;
    font-size :10px;
    margin-top :10px;
    margin-bottom :0px;
}
.dolor {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align :center;
    font-weight :300;
    font-style :italic;
    font-size :10px;
}
.mattewdix {
    font-family: 'Montserrat', sans-serif;
    font-size :14px ;
    margin :0px;
}
.txtzer {
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    font-size :14px;
}
.imgz{
   max-height :100px;
   margin-right :20px;
}
.zommyt {
    font-family: 'Montserrat', sans-serif;
    color :black;
}
.rgt {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size :14px;
}
.line{
    height:1px ;
    width :100% ;
    background-color :#999999;
}
.tgb {
    height: 16px;
    width: 20px;
    margin-right: 10px;
    display :block;
    
}
.tabl {
    background-color: #95e1d3;
    position :absolute ;
    bottom :10px;
    left :-10px;
    padding :5px 15px;
}
.fif {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight :bold;
    text-align :center;
    font-size :30px;
    margin :0px;
   
}
.jul {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin: 0px;
}
.zers{
    margin-right :10px;
    margin-left :10px;
}
.openmap {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #f38181;
    margin-top :10px;
}
.pin{
    display :block;
    margin-left :auto;
    margin-right :auto;
}
.msbold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size :46px;
    color :#999999;
}
.rba {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size :16px;
}
.k15 {
    font-family: 'Montserrat', sans-serif;
    color :black;
}
.follow {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
    padding-right :10px;
}
.as{
    margin :0px 5px;
}
.inpz {
    width: 100%;
    border-left: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-right: 0px solid #e7e7e7;
    font-size: 16px;
    padding: 10px 10px;
    font-family: 'Roboto', sans-serif;
}
    .inpz:focus{
        outline :none;
    }
    .inpz::-webkit-input-placeholder {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        color: #999999;
    }
.but:focus{
    outline :none;
}
.but {
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight :bold;
}
.monser {
    font-family: 'Montserrat', sans-serif;
    color :black;
    font-size :12px;
    margin :0px;
    font-weight :bold;
    text-overflow :clip;
}
.date {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999999;
    font-size :10px;
}
.imgsgb{
    max-width :120px;
    width :100%;
    
}
.mkl {
    font-family: 'Montserrat', sans-serif;
    font-size :20px;
    font-weight :bold;
}
.wi{
    width :100%;
}
.viewmorePhoto {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #333333;
    margin-top :10px;
    margin-bottom :0px;
}
.vg{
    padding: 3px;

}
.ends {
    font-family: 'Montserrat', sans-serif;
    text-align :center;
}
@media screen and (max-width: 1200px) {
    .caritem1-second{
        font-size :80px;
    }
    .caritem1-first{
       font-size :40px;
    }
    .but{
        font-size :14px;
    }
}
@media screen and (max-width: 992px) {
    .caritembar{
        width :150px;
    }
    .zommyt{
        text-align :center;
        font-size :14px;
    }
}
.navbar-light .navbar-toggler:focus{
    outline :none;
}
@media screen and (max-width: 768px) {
    .navbar-light .navbar-nav .mynavlink{
        padding-right :0px;
    }
    .navbar-light .navbar-nav .mynavlink {
        text-align: end;
    }
    .overlay1{
        margin-left :auto;

    }
    .navbar-light .navbar-nav .mynavlink:hover .overlay2 {
        margin-left: auto;
    }
    
    .caritembar {
        width: 125px;
    }
    .caritem1-second{
        font-size :60px;
    }
    .herna {
        margin-top :10px;
    }
    .txtad {
        padding-top :10px;
        font-size :13px;
    }

    .posol{
        display :none;
    }
    .imgspeech{
        max-width :125px;
    }
    .roboto{
        font-size :14px;
    }
    .jondoe {
        font-size :14px;
    }
    .centrateher{
        width :75px;
    }
    .f1{
        font-size :50px;
    }
    .f2{
        font-size :12px;
    }
}
@media screen and (max-width: 576px) {
    .caritembar{
        width :75px;
    }
    .txtad span {
        font-size :14px;
    }
    .caritem1-second{
        font-size :40px;
        line-height :45px;
        text-align :center;
    }
    .carousel-indicators-min{
        padding-top :50px;
    }
   .spk{
       margin-top :20px;
   }
   .poka{
       flex-direction :column;
   }
    .imgspeech{
        margin-left :auto;
        margin-right :auto;
        padding-right :0px;
    }
    .carousel-control-next-icon{
        width :0px;
        height :0px;
    }
    .carousel-control-prev-icon {
        width: 0px;
        height: 0px;
    }
    .flx {
        flex-direction :column;
        
    }
    .jordan {
        width :100% ;
    }
    .jordan {
        margin-top :5px;
    }
    .img1{
        width :350px;
    }
    .gibasia{
        width :150px;
        right :5%;
    }
    .edc {
        flex-direction: column;
    }
}
.zrd {
    background-repeat: no-repeat;
    background-size :cover;
}
.D{
    display :none;
}
.fx {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index :1000;
}